*{
    margin: 0px;
    padding: 0;
}
.logo img {
width: 100px;
}
.bar{
    width: 30px;
    margin: 4px;
    height: 4px;
    color: rgb(214, 214, 47);
    background-color: #11e931;
}
.btn{
    border: 1px solid  rgb(28, 95, 182);;
    display: inline-block;
    cursor: pointer;
}
.logoBtn{
    background: #f0ecec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  rgb(28, 95, 182);;
}
ul{
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
    border-bottom: 1px solid  rgb(28, 95, 182);;
}
.showNav{
    height: 300px;
}
ul li a{
    background: #fff;
  display: block;
  color: rgb(7, 9, 133);
  padding: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 25px;
}
ul li a:hover{
    background: #424242;
    color:  rgb(23, 201, 82);
    padding-left: 15px;
    text-decoration: none;
}
ul li a:active{
    background: none;
    color:  rgb(14, 185, 40);
    padding-left: 10px;
}
/* responsive  mode*/


@media screen and (min-width: 640px){
    nav{
        background: #fff;
        display: flex;
       /* justify-content: space-between;*/
    
        align-items: center;
        padding: auto;
        border-bottom: 1px solid  rgb(28, 95, 182);; 
    }
    .btn{
        display: none;
    }
    ul{
        display: flex;
        margin-left: 10%;
      height: auto;
      border-bottom: none;
    }
    .showNav{
        height: auto;
    }
    ul li a {
        background: transparent;
        color: #0c1db6;
    }
    .logoBtn{
        border:none;
    }
    ul li a:hover{
        background: none;
        color:  rgb(14, 185, 40);
        padding-left: 10px;
    }
    ul li a:active{
        background: none;
        color:  rgb(14, 185, 40);
        padding-left: 10px;
    }
}